<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
		
		.ui-autocomplete {
			max-height: 100px;
    		overflow-y: auto;
    		/* prevent horizontal scrollbar */
    		overflow-x: hidden;
		}
		
		/* IE 6 doesn't support max-height
		 * we use height instead, but this forces the menu to always be this tall
		*/
		* html .ui-autocomplete {
    		height: 100px;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
										<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		
		// true if city / email values are correct
		var cityCheck = false;
		var emailCheck = false;
		
		// check if email is correct
		document.getElementById("Email").addEventListener("keyup", function () {
			var isValidEmail = emailRegex.test(this.value);
			if (isValidEmail) {
				$("#EmailValidate").removeClass('glyphicon-remove').addClass('glyphicon-ok');
				emailCheck = true;
				if (cityCheck) document.getElementById("Register").disabled = false;
			}
			else {
				emailCheck = false;
				document.getElementById("Register").disabled = true;
				$("#EmailValidate").removeClass('glyphicon-ok').addClass('glyphicon-remove');
			}
		});
		
		// get info about cities from api
		$.get("https://api.lavbic.net/kraji")
			.done(function(data) { 
				var citiesJson = data;
				var citiesArray = [];
				for (var i = 0; i < citiesJson.length; i++) {
					citiesArray.push(citiesJson[i].kraj)
				}
				
				function cityInputChange() {
					var found = false;
					for (var i = 0; i < citiesJson.length; i++) {
						if ($("#City").val() == (citiesJson[i].kraj)) {
							$("#Country").val("Slovenija");
							$("#PostalCode").val(citiesJson[i].postnaStevilka);
							found = true;
							break;
						}
					}
					if (!found) {
						$("#Country").val("");
						$("#PostalCode").val("");
						document.getElementById("Register").disabled = true;
						cityCheck = false;
					}
					else {
						if (emailCheck) document.getElementById("Register").disabled = false;
						cityCheck = true;
					}
				}
				
				$("#City").autocomplete({
					source: citiesArray,
					select: function() {
						setTimeout(function() {
    						cityInputChange();
						}, 0);
					}
				});
				
				$("#City").on("input propertychange paste autocompleteselect change", function() {
					cityInputChange();
				});
			})
			.fail (function() {
				console.log("Couldn't load https://api.lavbic.net/kraji.");
			});
			
		
		// key = costumerId, value = num of bills
		var numOfBillsDict = {};
		
		// count num of bills for each costumer
		$("#seznamRacunov > option").each(function() {
			var costumerId = $(this).attr('customerid')
			if (typeof numOfBillsDict[costumerId] === 'undefined') numOfBillsDict[costumerId] = 1;
			else numOfBillsDict[costumerId] += 1;
		});
		
		// add num of bills to each costumer on costumer list (html)
		$("#seznamStrank > option").each(function() {
			var costumerId = $(this).val();
			if (typeof numOfBillsDict[costumerId] != 'undefined') {
				$(this).append("(" + numOfBillsDict[costumerId] + ")");
			}
			else {
				$(this).append("(0)");
			}
		});
		
		// highlight the bills of chosen costumer
		$("#seznamStrank").on("change", function() {
			var selectedCostumerId = $(this).find(":selected").val();
			$("#seznamRacunov > option").each(function() {
				var costumerId = $(this).attr('customerid')
    			if (selectedCostumerId == costumerId) $(this).addClass('racun-stranke');
    			else $(this).removeClass('racun-stranke');
			});
		});
	});
</script>
</body>
</html>